table{
  margin: 0px auto;
  width: 100%;
  border-collapse: collapse;
  font: 20px Arial, sans-serrif;
  background-color: white;
}
h1{
  font-size: 35px;
}
h2{
  color: #675D50;
}
button{
  transition-duration: 0.4s;
  padding: 10px 20px; 
  font-size: 20px;
  text-decoration: none;
  color: Black;
  border:none;
  width: 15%;
  margin: 1px;
  background-color: #ABC4AA;
}
button:hover{
  color: white;
  cursor: pointer;
}

