body{
  background-color: #675D50;
}

table{
  margin: 0px auto;
  width: 60%;
  height: 100%;
  border-collapse: collapse;
  font: 20px Arial, sans-serrif;
  background-color: white;
}
h1{
  font-size: 35px;
  color: white;
}
h2{
  color: #675D50;
}
button{
  transition-duration: 0.4s;
  padding: 10px 20px; 
  font-size: 20px;
  text-decoration: none;
  color: #675D50;
  border:none;
  width: 15%;
  margin: 0px;
  text-align: center;
  background-color: #ABC4AA;
}
button:hover{
  background-color: white;
  cursor: pointer;
}
td{
  padding:20px; 
  color:#675D50; 
  vertical-align:top; 
  width:40%;">
}
p{
  font-size: 14px;
}

